@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.navigation
{
    position:absolute ;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 250px;
    z-index: 100;
    margin-right: 40px;
}
.toggle
{
    position: relative;
    top: 0;
    right: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-family: 'Gabriela', serif;
    font-size: 25px;
}
.toggle::before
{
    content: 'Menu';
    margin-left: 10px;
}
.toggle.active::before
{
    content: 'Close';
}    
.toggle span
{
    position: relative;
    width: 20px;
    height: 50px;
}
.toggle span::before
{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width:100% ;
    height: 2px;
    background:#fff;
    transition: 0.5s;
}
.toggle span::after
{
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width:100% ;
    height: 2px;
    background:#fff;
    transition: 0.5s;
}
.toggle.active span::before
{
    transform: rotate(225deg);
    top: 24px;
}
.toggle.active span::after
{
    transform: rotate(135deg);
    top: 24px;

}
ul
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column; 
}
ul li
{
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0; 
    transform: translateX(-250px);
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active ul li
{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);

}
ul li a
{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background: rgb(255, 255, 255);
    color: #000000;
    transition: 0.5s;
    font-family: 'Gabriela', serif;
}
ul li a:hover
{
    background: #000000;
    color: #ffffff;
    transition: 0s;
}