body
{
  width: 100%;
  height: 100vh;
  
}
.roupas1
  { 
    width: 100%;
    height: 400px;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin-top: 300px;
  }
   
.roupa
  {
    width: 200px;
    height: 300px;
  }
.item current-item
  {
    width: 200px;
    height: 300px;
  }
.promocoes
{
  width: 100%;/*Largura*/
  height: 250px;
  background-image: linear-gradient(to right, #ff3131a5, #ff914da0);
  z-index: 10;
  position: absolute;
  top:100px; /*Distancia de cima */
  left: 0px;  /*Distancia da esquerda*/
  
}
  
